@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  /*
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	*/
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  overflow: hidden;
  min-width: 100%;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.containerM {
  height: 100%;
}

.allbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.leftb {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 62.1%;
          flex: 1 1 62.1%;
}

.leftb__image {
  background-image: url(../img/block_1/bg_left.png);
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.leftb__column {
  padding: 54px 53px 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.leftb__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.leftb__column-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.leftb_textup {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.leftb_textdown {
  position: relative;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  width: 390px;
}

.leftb_textdown img {
  position: absolute;
  top: 5px;
  right: 0;
}

.leftb__column-play {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.leftb__column-play a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #1f8efa;
}

.leftb__column-play-circle {
  width: 37px;
  height: 37px;
  background-color: #1f8efa;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

.rightb {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 37.9%;
          flex: 1 1 37.9%;
  height: 100%;
}

.rightb__bg {
  background-color: #242e42;
  height: 100%;
}

.rightb__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 60%;
  height: 100%;
}

.rightb__column-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightb__column-logo img {
  margin-top: 74px;
}

.rightb__column-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.rightb__column-content a {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #869aac;
  margin-top: 75px;
}

.rightb__column-title {
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
}

.rightb__column-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.4%;
          flex: 0 0 6.4%;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #869aac;
}

.form-label span {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.btn span {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}
